.header{
   
    background-color: blanchedalmond;
}
.ex{
    border: 0;
}
.card-style{
    border: 0 !important;
    margin: 0 25px !important;
}
.bag-footer{
    border: 0 !important;
    background-color: white !important;
}
.bag-card{
    border: 0 !important;
}
.bag-img{
    background-color: #dad4e0 !important;
    padding: 10px;
    border-radius: 10px !important;
}
.card-header-ex{
    margin-left: 25px !important;
}