.header{
   
    background-color: #e2caa661;
       
    padding: 0px 20px;
    }
    .nav-ancor{
        color:black;
        text-decoration: none !important;
        font-size: 20px;
        font-weight: 600;
        padding: 0px 20px !important;
    }
    .banner-des{

    }
    .banner-des h1{
        font-size: 50px;
    }
    .banner-des p{
        padding: 0px 10px 0px 0px;
    }
    .ex{
        border: 0;
    }
    .card-style{
        border: 0 !important;
        margin: 0 0px !important;
        margin-left: 24px !important;
        padding: 15px 30px;
    }
    .bag-footer{
        border: 0 !important;
        background-color: white !important;
    }
    .bag-card{
        border: 0 !important;
    }
    .bag-img{
        background-color: #dad4e0 !important;
        padding: 10px;
        border-radius: 10px !important;
    }
    .card-header-ex{
        margin-left: 25px !important;
        margin: 15px 0px 30px;
        font-size: 50px;
        font-weight: 700;
    }

    .btn-extra{
        padding: 10px 30px !important;
        background-color: rgb(69, 10, 233) !important;
        color: white !important;
        font-size: 20px !important;
    }
    .btn-extra:hover{
        background-color: coral !important;
        border: 1px solid coral !important;
    }
    .amount{
        color: coral;
    }
   

    .footer-i{
        display: flex;
        flex-wrap: wrap;
    }
